.formulario{

  display: grid;
  flex-direction: column;
  justify-content: center;
  background: blue;
  height: 100%;
  
}

.campoNombre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.campoCorreo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

.campoMensaje{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input{
  height: 1.5rem;
  border-radius: 10px;
}

textarea{

  border-radius: 10px;

}

button{
  border-radius: 10px;
  height: 2rem;
}

.zonaFormulario{
  width: 25rem;
  height: 20rem;
  background: red;
}

.App{

  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;

}